<div class="flex items-center justify-center min-h-screen bg-gray-100">
  <div class="p-6 max-w-lg mx-auto bg-white rounded-lg shadow-md">
    <h1 class="text-2xl font-bold mb-4">Project Overview</h1>
    <p class="text-gray-700 mb-2">
      This project utilizes <strong>Angular 18</strong>, <strong>Tailwind CSS</strong>, <strong>PrimeNG</strong>, and
      <strong>Chart.js</strong>.
    </p>
    <p class="text-gray-700 mb-4">
      Check out my GitHub: <a href="https://github.com/buiminh15/" class="text-blue-500 hover:underline">my Github
        link</a>
    </p>
    <p class="text-gray-700">
      And a big thank you to the designer of this amazing work! Let's all support his incredible creations!

      Please checkout his amazing job: <a
        href="https://www.figma.com/community/file/1176998037566975720/car-rental-company-dashboard-ui"
        class="text-blue-500 hover:underline">His Figma</a>
    </p>
  </div>
</div>