$black-color: #1a1919;
$beige-color: #f8f7f1;

.bg-color-custom-black {
  background-color: $black-color;
}

.color-bg-black {
  color: $black-color;
}

.bg-color-custom-beige {
  background-color: $beige-color;
}
